version: "3"
services:
  app:
    image: jekyll/jekyll:3
    # command: jekyll serve
    command: >
        bash -c "echo hello && tail -f /dev/null"
    networks:
      - proxy
    ports:
      - 4000:4000
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
networks:
  proxy:
    external: true
